name: Build APK
on: [push]
jobs:
  apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Build
        run: |
          pip install flet
          flet build apk
      - uses: actions/upload-artifact@v3
        with:
          name: H-Connect-App
          path: build/apk/*.apk
